<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.mapper.StudentsMapper">

    <insert id="insertStudents">
        insert into student(name,no,gender,phone,id_card,is_college,address,degree,graduation_date,clazz_id,violation_count,violation_score,create_time,update_time)
        values(#{name},#{no},#{gender},#{phone},#{idCard},#{isCollege},#{address},#{degree},#{graduationDate},#{clazzId},#{violationCount},#{violationScore},#{createTime},#{updateTime})
    </insert>

    <update id="updateStudents">
       update student
        <set>
            <if test="name != null and name !=''">name= #{name},</if>
            <if test="no != null and no !=''">no= #{no},</if>
            <if test="gender != null">gender= #{gender},</if>
            <if test="phone != null and phone !=''">phone= #{phone},</if>
            <if test="idCard != null and idCard !=''">id_card= #{idCard},</if>
            <if test="isCollege != null">is_college= #{isCollege},</if>
            <if test="address != null and address !=''">address= #{address},</if>
            <if test="degree != null">degree= #{degree},</if>
            <if test="graduationDate != null">graduation_date= #{graduationDate},</if>
            <if test="clazzId != null">clazz_id= #{clazzId},</if>
            <if test="violationCount != null">violation_count= #{violationCount},</if>
            <if test="violationScore != null">violation_score= #{violationScore},</if>
            <if test="createTime != null">create_time= #{createTime},</if>
            <if test="updateTime != null">update_time= #{updateTime}</if>
        </set>
        where id=#{id}
    </update>
    <update id="updateViolationScore">
        update student set violation_score=violation_score+#{score},violation_count=violation_count+1 where id=#{id}
    </update>

    <delete id="deleteStudents">
        delete from student where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="count" resultType="java.lang.Long">
        select count(*) from student
    </select>

    <select id="findAllStudents" resultType="com.happy.pojo.Student">
        select * from student
        <where>
            <if test="name != null and name !=''">
                name like concat(#{name},'%')
            </if>
            <if test="degree != null">
                degree=#{degree}
            </if>
            <if test="clazzId != null">
                clazz_id=#{clazzId}
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <select id="findStudentsById" resultType="com.happy.pojo.Student">
        select * from student where id=#{id}
    </select>

    <select id="findStudentDegree" resultType="com.happy.pojo.studentDegree">
        select (case degree when 1 then '初中'
                            when 2 then '高中'
                            when 3 then '大专'
                            when 4 then '本科'
                            when 5 then '硕士'
                            when 6 then '博士' end) name,
               count(*) value from student group by degree
    </select>
    <select id="findStudentCount" resultType="java.util.Map">
        select (case clazz_id
                    when 1 then 'JavaEE就业163期'
                    when 2 then '前端就业90期'
                    when 3 then 'JavaEE就业165期'
                    when 4 then 'JavaEE就业166期'
                    when 5 then '大数据就业58期'
                    when 6 then 'JavaEE就业167期' end) name,
               count(*) value
        from student group by clazz_id
    </select>


</mapper>